* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
}

.title {
    height: 4rem;
    width: 100vw;
    background: steelblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.stars {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.description {
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
}